/*!
 * PlantCV custom CSS
 */

/*
 * Base structure
 */


/*
 * Global add-ons
 */


th{
  text-align: center;
  padding:10px;
}

td{
  text-align: center;
  padding:10px;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*Google Search
 */

.gsc-input {
  
  width:300px;
  display:block;
  margin:0px;
  padding:0px;
  
}


.gsc-control-cse{
  padding:0em;
  margin:0px;
  width:300px;
}

.gsc-control-wrapper-cse {
  
  width:300px;
  height:30px;
  padding:0px;
}

.gsc-search-box {
  width:300px;
  display:block;
  margin:0px;
  padding:0px;
  float:right;
}


#___gcse_0{
 width:300px;
 padding:0px; 
}

#cse-hosted{
  background-color:#FFFFFF;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}