<!--SlideShow-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div align="center" class="item active">
      <img src="{{site.baseurl}}/img/about_show/Dr4AE000586-2013-12-29 09_41_21-B2_120513-VIS_TV_z1.png_shapes.png" height="400" width="400" alt> 
      <div class="carousel-caption">
      <p></p>
      </div>
    </div>
    <div align="center" class="item">
      <img src="{{site.baseurl}}/img/about_show/gus1008_shapes.png" height="400" width="400" alt>
      <div class="carousel-caption">
      <p></p>
      </div>
    </div>
    <div align="center" class="item">
      <img src="{{site.baseurl}}/img/about_show/tv3000_shapes.png" height="400" width="400" alt>
      <div class="carousel-caption">
      <p></p>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>