<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-51735493-2");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <script type="text/javascript">
    $('.nav a:contains({{page.title}})').parent().addClass('active');
    $('.nav a:contains({{page.subtitle}})').parent().addClass('active');
  </script>
  <footer>
    <p>&copy; Donald Danforth Plant Science Center 2014</p>
  </footer>
</div>
