<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen" />  
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" media="screen" />  
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />-->
    <link rel="stylesheet" type="text/css" href="css/custom.css" media="screen" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ site.title }}</title>
  </head>

  <body>