<!--Static navbar-->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="sr-olnly">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{site.url}}>PlantCV</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href={{site.url}}>Home</a>
          </li>
          <li>
            <a href={{site.url}}/pages/about>About</a>
          </li>
          <li>
            <a href={{site.url}}/pages/documentation>Documentation</a>
          </li>
          <li>
            <a href="http://github.com/nfahlgren/plantcv">Download</a>
          </li>
        </ul>
      </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">