<!--Static navbar-->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PlantCV</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav">
            <a href="/">Home</a>
          </li>
          <li class="nav">
            <a href="/pages/about.html">About</a>
          </li>
          <li class="nav">
            <a href="/pages/documentation">Documentation</a>
          </li>
          <li class="nav">
            <a href="http://github.com/nfahlgren/plantcv">Download</a>
          </li>
        </ul>
      </div>
  </div>
</div>
