body {
  margin: 1000;
  padding: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin-bottom: 100px;
  position: absolute;
}


html {
height: 100%;
width: 100%;
overflow: scroll;
}
/*
 * Formatting the header area
 */
header {
  background-color: #87ceeb;
  height: 100px;
  width: 75%;
  opacity: .9;
  margin-bottom: 20px;
}
header h1.logo {
  margin: 10;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.index {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  min-width: 350px;
  background-color: #292929;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-family:sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #292929 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.download_button {
    height:75px;
    width:200px;
    background-color: #87ceeb;
}

.box-wrapper { 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  flex-direction: column;
  align-content: flex-start
}

#download_box { 
    padding: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border: solid 3px #87ceeb;
    align-content: flex-start
}

#total_box { 
    padding: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border: solid 3px #87ceeb;
    align-content: flex-start
}

#input_output_box {
    padding: 10px;
    flex-grow:1; 
    border: solid 1px #87ceeb
}
#filter_box {
    padding: 10px;
    flex-grow:1; 
    border: solid 1px #87ceeb
} 

#parallel_box {
    padding: 10px;
    flex-grow:1; 
    border: solid 1px #87ceeb
}
#general_box {
    padding: 10px;
    flex-grow:1;
    border: solid 1px #87ceeb
} 

.left-column {
    flex: 0 0 auto;
    display: flex; 
    flex-direction: column;
  
} 

.right-column {
  flex: 0 0 auto;
  display: flex; 
  flex-direction: column;
  
}
