{% include head.html %}
  {% include navbar.html %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav"><a href="{{site.baseurl}}/pages/challenges/challenges.html"><font color="blue"><b>About Challenges</b></a></font></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/challenges/challenge_2015.html"><font color="green"><b>Challenge 2015: #1 A Warm Up</b></a></font></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1>Donald Danforth Plant Science Center: PlantCV Challenge</h1>
      <div class="jumbotron">  
  {{ content }}
      </div>
  
  {% include footer.html %}
    </div>
  </div>
{% include foot.html %}