{% include head.html %}
  {% include navbar.html %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation">Getting started</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/installation.html">Installation</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/read_image.html">Read Image</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/print_image.html">Print Image</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/rgb2hsv.html">RGB to HSV</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/rgb2lab.html">RGB to LAB</a></li>        
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/binary_threshold.html">Binary Threshold</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/median_blur.html">Median Blur</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/fill.html">Fill</a></li>      
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/logical_and.html">Logical Operations-And</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/logical_or.html">Logical Operations-Or</a></li>                    
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/apply_mask.html">Apply Mask</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/find_objects.html">Find Objects</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/roi.html">Region of Interest- Define</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/roi_objects.html">Region of Interest- Objects</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/object_composition.html">Combine Objects</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/analyze_shape.html">Analyze Shapes</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/boundary_tool.html">Boundary Tool</a></li>
        <li class="nav"><a href="{{site.baseurl}}/pages/documentation/function_docs/analyze_color.html">Analyze Color</a></li>                
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1>Documentation</h1>
      <div class="jumbotron">  
  {{ content }}
      </div>
  
  {% include footer.html %}
    </div>
  </div>
{% include foot.html %}